body
{
    background:url("http://i.minus.com/iAEq9jwbYnhGt.jpg");
    background-attachment:fixed;  
}
p
{
    text-indent:2em;
}
/** the hight of the top part **/
#top
{     
    height:50px;  
    
}
/** set the style of the timeElapse part on top **/
#top-box
{
    font-size:28px;
    background:rgba(0,0,0,0.35);
    width:866px;
    height:30px;
    text-align:center;
    padding-top:5px;
    margin-left:120px;
    margin-top:10px;
}
#wrapper
{ 
    
}
#main
{
    width:980px;        
    margin-left:70px; 
    margin-top:10px;

    
}
/** the style of the typeWriter box **/
#box
{
    background:rgba(0,0,0,0.35);
    color:White;
    width:600px;
    height:500px;
    margin-left:53px;
    padding-top:20px; 
    padding-left:50px;   
    padding-right:50px;  
 
}
/** set the box which contains the flower **/
#newBox
{    
    width:980px;
    margin-top:-70px;
}
#love
{  
    visibility:hidden;	   
}
/** set the style of love words on top-box**/
#loveU
{
    margin-top:-400px;
    font-size:45px;
    color:#FF2000;
    height:50px;
    float:left;
    width:490px;
    display:none;
    font-family:STXingkai;
    text-align:right;
	
}
/** Ditto **/
#loveUForever
{

    font-family:STXingkai;
    float:right;
    margin-top:-350px;
    text-align:left;
    color:#FF2000;
    width:490px;
    font-size:45px;
    display:none;
    height:50px;
		
}


/** the hidden music flash **/
#music
{  
    position:absolute;  
    width:240px; 
    height:auto;   
    margin-top:-350px;
    margin-left:50px;    
    visibility:hidden;
    z-index:-1;
}
.content
{
    line-height:120%;  
}
/** set the style of love words at last **/
.loveU
{
    font-style:italic;
    font-family:STXingkai,"华文行楷";
    opacity:0.8;
    filter:alpha(opacity=80);
}
/** the two class below are used to control the font-style in the typeWriter box **/
.dear
{
    color:#088A08;
    font-family:Helvetica Neue;
    font-size:20px;
}
.thatDay
{
    color:#1EB9ED;
    font-family:Helvetica Neue;  
    font-size:16px;
}
/** the 3 below control the time-words's style on top-box **/
.top-content
{
    font-size:18px;
    font-family: Verdana, Arial, sans-serif;  
    color:white;   
}
.top-timeElapse
{
    font-size:18px;
    font-family: Verdana, Arial, sans-serif;  
    color:#1EB9ED;   
    font-weight:200;
}
.top-time
{
    font-size:18px;
    font-family: Verdana, Arial, sans-serif;  
    color:#FFC0CB;   
    font-weight:300;
    font-style:italic;
}